[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-icdiff = "*"
pytest-coverage = "*"

[packages]
slackclient = "*"
markovify = "*"
shodan = "*"

[requires]
python_version = "3.7"
